.number-display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding-top: 35px;
    flex-direction: column;
    padding-bottom: 35px;
}

.number-title{
    font-size: x-large;
}

.number-value{
    font-size: 70px;
    padding-bottom: 15px;
    text-shadow: #FC0 1px 0 10px;
}