<div class="podium-container" [style.top.px]="startPosition">
    <div *ngIf="podiumData[1]?.name" class="podium-item second">
      <p class="username">{{ podiumData[1].name}}</p>
      <p class="points">{{ podiumData[1].points | podiumFormat: podiumType }}</p>
    </div>
    
    <div class="podium-item first">
      <p class="username">{{ podiumData[0].name}}</p>
      <p class="points">{{ podiumData[0].points | podiumFormat: podiumType }}</p>
    </div>
    
    <div *ngIf="podiumData[2]?.name" class="podium-item third">
      <p class="username">{{ podiumData[2].name}}</p>
      <p class="points">{{ podiumData[2].points | podiumFormat: podiumType }}</p>
    </div>
  </div>
  <span class="podium-title">{{podiumTitle}}</span>