<div class="podium-container">
    <!-- Second place -->
    <div class="podium-item second">
      <p class="username">{{ podiumData[1]?.username || '---' }}</p>
      <p class="points">{{ podiumData[1]?.points || 0 }} pts</p>
    </div>
    
    <!-- First place (Tallest) -->
    <div class="podium-item first">
      <p class="username">{{ podiumData[0]?.username || '---' }}</p>
      <p class="points">{{ podiumData[0]?.points || 0 }} pts</p>
    </div>
    
    <!-- Third place -->
    <div class="podium-item third">
      <p class="username">{{ podiumData[2]?.username || '---' }}</p>
      <p class="points">{{ podiumData[2]?.points || 0 }} pts</p>
    </div>
  </div>
  <span class="podium-title">{{podiumTitle}}</span>