.chart-container {
  width: 97%;
  padding-left: 9px;
  //overflow-x: auto;
  //white-space: nowrap;
  margin-bottom: 45px;
}

.chart-header {
  display: flex;
  justify-content: space-around;
}

.chart-controls {
  margin-top: 10px;
}

.scrollable-container {
  height: 550px;
  //width: 1200px;
  //min-width: 100%;
  //padding: 25px;
  padding-top: 0px;
}

.chart-title {
  font-size: x-large;
  margin-top: 25px;
}

mat-form-field {
  max-width: 120px;
}