.chart-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
  }
  
  .scrollable-container {
    height: 550px;
    width: 1200px;
    min-width: 100%;
    padding: 25px;
  }
  