.image-upload {
  margin-top: 150px;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.hidden-file-input {
  display: none;
}

.custom-file-label {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #1976d2;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.playlist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.form-actions {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-actions button {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.last-uploaded {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filename {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.header h2 {
  margin-bottom: 15px;
}

h3 {
  margin-bottom: 0px;
  font-weight: 450;
}

.player-controls button {
  margin-left: 5px;
  margin-right: 5px;
}