.image-upload {
  margin-top: 150px;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.hidden-file-input {
  display: none;
}

// replace with mat button
.custom-file-label {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #1976d2;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
  margin-bottom: 15px;
}

mat-form-field {
  width: 225px;
}

.player-row,
.player-row-header {
  display: grid;
  grid-template-columns: 10px 120px 100px 70px;
  align-items: center;
  gap: 1rem;
}

.player-row-header {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 500;
}

.player-row mat-form-field {
  width: 100%;
}

/* .player-row {
  display: flex;
  gap: 1rem;
  align-items: center;

  mat-form-field {
    flex: 1;
    max-width: 100px;
  }
}

.player-row-header {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  width: 95%;
  margin-bottom: 0.5rem;

  div {
    flex: 1;
  }
} */

i {
  padding-right: 10px;
}

.playlist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-actions {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-actions button {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.last-uploaded {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filename {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.header h2 {
  margin-bottom: 15px;
}

h3 {
  margin-bottom: 0px;
  font-weight: 450;
}

.player-controls button {
  width: 125px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
}