<div class="image-upload">

  <div class="file-input-container" *ngIf="!imageFile">
    <div class="header">
      <h2>Scan playlist photo</h2>

      <ng-container *ngIf="latestUploads$ | async as playlists">
        <h3>Latest uploads:</h3>
        <span *ngFor="let playlist of playlists">
          <i>{{ playlist.playlistName }}</i> on {{ playlist.playlistDate | date }} ({{playlist.uploadedBy}})
        </span>
      </ng-container>
    </div>

    <input type="file" id="fileInput" class="hidden-file-input" (change)="onFileSelected($event)" accept="image/*" />
    <label for="fileInput" class="custom-file-label">
      🔎 Select Image
    </label>
  </div>

  <div *ngIf="isLoading" class="loading-spinner-container">
    <loading-spinner [loadingText]="'scanning image...'"></loading-spinner>
  </div>

  <div *ngIf="parseSuccess">
    <h3 class="filename">{{ fileName }}</h3>
    <form class="playlist-form" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="fill" required>
        <mat-label>Playlist Name</mat-label>
        <input matInput formControlName="playlistName" />
      </mat-form-field>

      <mat-form-field appearance="fill" required>
        <mat-label>Playlist Date</mat-label>
        <input 
          matInput
          [matDatepicker]="picker"
          [matDatepickerFilter]="makeFilter(allDates$ | async)"
          formControlName="playlistDate"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="uploadForm.controls['playlistDate'].hasError('invalidDate') && uploadForm.controls['playlistDate'].touched">
          Invalid date
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" required>
        <mat-label>Number of races</mat-label>
        <input matInput type="number" formControlName="numberOfEvents" />
      </mat-form-field>

      <div class="players-form" formArrayName="players">
        <h3>Players</h3>
        <ng-container *ngFor="let playerGroup of playerControls; let i = index" [formGroupName]="i">
          <h4>Player {{ i + 1 }}</h4>

          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <mat-select formControlName="name">
              <mat-option *ngFor="let name of sortedNames" [value]="name" [disabled]="isNameSelected(name, i)">
                {{ name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Last Event Points</mat-label>
            <input matInput type="number" formControlName="lastEventPoints" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Total Points</mat-label>
            <input matInput type="number" formControlName="totalPoints" />
          </mat-form-field>
        </ng-container>

        <div class="player-controls">
          <button mat-stroked-button color="primary" type="button" (click)="addPlayer()">
            <i class="fa-solid fa-plus"></i>
          </button>
          <button mat-stroked-button color="warn" type="button" (click)="removePlayer()"
            [disabled]="playersLength === 0">
            <i class="fa-solid fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!uploadForm.valid">
          Submit Playlist
        </button>
        <button mat-raised-button color="warn" type="button" (click)="resetForm()">
          Cancel
        </button>
      </div>
    </form>

  </div>
</div>