<div class="sticky">
  <mat-toolbar>
    <mat-toolbar-row>
      <span id="main-title">GTA Wrapped 2025</span>
      <span class="spacer"></span>
      <update-date></update-date>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-tab-group [disablePagination]="true" mat-stretch-tabs="false" mat-align-tabs="center"
    (selectedIndexChange)="onTabChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>bar_chart</mat-icon>
        Podiums
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>show_chart</mat-icon>
        Charts
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>format_list_numbered</mat-icon>
        Leaderboard
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<router-outlet></router-outlet>
