<div class="sticky-header">
  <mat-toolbar>
    <mat-toolbar-row>
      <span id="main-title">GTA Wrapped 2025</span>
      <span class="spacer"></span>
      <update-date></update-date>
    </mat-toolbar-row>
  </mat-toolbar>

  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link *ngFor="let tab of tabs" [routerLink]="tab.route" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>{{ tab.icon }}</mat-icon>
      {{ tab.label }}
    </a>
  </nav>
</div>

<router-outlet></router-outlet>

<div class="version-info">
  <p>Version: {{APP_VERSION}}</p>

  <div class="footer-links">
    <div>
      <a [routerLink]="['/privacy-policy']"> Privacy Policy </a>

    </div>
    <div>
      <a href="https://github.com/paulfaa/paulfaa.github.io/issues/new">Contact Us</a>

    </div>
    <div>
      <a [routerLink]="['/version-history']"> Version history </a>

    </div>
  </div>
</div>

<div class="sticky-footer">
  <!-- Ads go here
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-3109034804431853"
      data-ad-slot="6667208404"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script> -->
</div>