#main-title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: larger;
}

#sub-title {
    font-size: large;
}

#content {
    overflow: visible;
    text-align: center;
    font-size: 1.5rem;
}

#container {
    width: 100%;
}

.sticky-header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.sticky-footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.spacer {
    flex: 1 1 auto;
}

mat-icon {
    vertical-align: middle;
    padding-right: 8px;
}

update-date {
    padding-top: 0px;
}

app-podium {
    position: absolute;
    height: auto;
    z-index: 0;
    width: 100%;
}

app-podium:nth-child(1) {
    top: 20vh;
}

app-podium:nth-child(2) {
    top: 70vh;
}

app-podium:nth-child(3) {
    top: 130vh;
}

.stats-container {
    position: relative;
    min-height: 200vh;
}

.version-info {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

.version-info p {
    font-weight: 450;
    margin-bottom: 5px;
}

.ad-banner {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 90px;
}

.footer-links {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footer-links div {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    text-decoration: none;
    color: inherit;
}