#main-title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: larger;
}

#sub-title {
    font-size: large;
}

#content {
    overflow: visible;
    text-align: center;
    font-size: 1.5rem;
}

#container {
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar-row {
  align-items: baseline;
}

update-date {
  padding-top: 20px;
  padding-bottom: 10px;
}

app-podium {
    position: absolute;
    height: auto;
    z-index: 0;
    width: 100%;
}

app-podium:nth-child(1) {
    top: 20vh;
}

app-podium:nth-child(2) {
    top: 70vh;
}

app-podium:nth-child(3) {
    top: 130vh;
}

.stats-container {
    position: relative;
    min-height: 200vh;
}
