.leaderboard-result {
    display: flex;
    flex-direction: row; /* Horizontal layout */
    align-items: center;
    height: 60px;
    padding: 5px;
    min-width: 30px;
    overflow: hidden;
    position: relative;
}

.leaderboard-result-name {
    font-weight: 525;
    font-size: 16px;
}

.leaderboard-result-points {
    font-size: 14px;
}

.leaderboard-result-position {
    font-size: 14px;
    font-weight: bold;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.leaderboard-result-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.team-logo {
    width: 100px;
    height: 100px;
    mix-blend-mode: lighten;
    position: absolute;
    right: 20px;
    bottom: -30px;
}
