.login {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login mat-form-field {
    width: 70%;
}

.password-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#login-button {
    width: 50%;
}