<mat-toolbar>
  <mat-toolbar-row>
    <span id="main-title">GTA Wrapped</span>
  </mat-toolbar-row>
  
  <mat-toolbar-row>
    <span id="sub-title">2025/2026 Season</span>
  </mat-toolbar-row>
</mat-toolbar>

<stats-container></stats-container>

<div class="stats-container">
  <app-podium 
    *ngFor="let podium of podiums; let i = index" 
    parallax 
    [ratio]="1"
    [fadeStart]="i * 10"
    [fadeEnd]="i * 150"
    [podiumTitle]="podium.title" 
    [podiumData]="podium.data">
  </app-podium>
</div>

Most Dedicated

Playlists created

Average length

Most draws

Average squad size

Most popular day


Longest win streak

Average points

Table with all data


<div id="container">
  <div id="content">
    <div style="width: 80%; margin-left: auto; margin-right: auto;">
      Lots of placeholder text here so we ample vertical scroll to play with....
    </div>
  </div>
</div>


Append the rest of these images to the above CSV files. The list of possible usernames are 'hurling1', 'cooooney95', 'meas_taibhse', 'mikc95', 'kendy232', 'jackw2610', 'iiCiaran', if you are unable to read the username text correctly, pick the most similar one from the list