<ng-container *ngIf="(results$ | async)?.races?.length && (results$ | async)!.races!.length > 0; else loading">
  <mat-card>
    <mat-card-title>Points awarded based on F1 scoring:</mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="f1PointsRow" class="mat-elevation-z2" style="width: 100%;">

        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
          <td mat-cell *matCellDef="let row"> {{ row[column] }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>

    <div class="leaderboard">
        <h1>Leaderboard</h1>
        <player-result *ngFor="let player of leaderboard$ | async" 
        [playerName]="player.playerName"
        [points]="player.points">
        </player-result>
    </div>

    <mat-divider></mat-divider>

    <div class="race-breakdown" style="overflow-x: auto;">
        <h1>History</h1>
        <player-results-container
            *ngFor="let race of (results$ | async)?.races"
            [date]="race.date"
            [results]="race.players"
        >
        </player-results-container>
    </div>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <h1>loading...</h1>
    <div class="loading-spinner">
      <mat-spinner [strokeWidth]="15" [diameter]="200"></mat-spinner>
    </div>
  </div>
</ng-template>
